@{
    ViewData["Title"] = "The Quadrant Task Identifier";
}


<h1>Welcome to the Quadrant Task Identifier</h1>

<div>
    @*<img src="~/img/Stephen-Covey-Quotes-of-Imagination.jpg" height="450" />*@
    <img src="~/img/Live-out-of-your-imagination__quotes-by-Stephen-Covey-80.png" height="450" />
</div>

