@{
    ViewData["Title"] = "The Joel Hilton Film Collection";
}


<h1>Welcome to the Quadrant Task Identifier</h1>

<div>
    <img src="~/img/Stephen-Covey-Quotes-of-Imagination.jpg" height="450" />
</div>

